/* animation */
@keyframes fontani1 {
    0% {font-size: 0px;}
    50% {font-size: 50px; margin-top:100px;}
    100% {margin-top:0px;}
}

@-webkit-keyframes fontani1 {
    0% {font-size: 0px;}
    50% {font-size: 50px;}
    100% {margin-top:0px;}
}

@keyframes ani1 {
    from {
    	max-width: 0px;
		max-height:0px;}
    to {
    	max-width: 300px;
		max-height:400px;}
}

@-webkit-keyframes ani1 {
    from {
    	max-width: 0px;
		max-height:0px;}
    to {
    	max-width: 300px;
		max-height:400px;}
}

/* animation ends*/

body {
	background-image: url("../img/grey.jpg");
	background-size: 100%;
}

.hbd {
	margin-top:100px;
}

.v-center {
	text-align: center;
}

.fontani1 {
	font-size: 50px;
	vertical-align: center;
	animation-name: fontani1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
	-webkit-animation-name: fontani1;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fontani1;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: forwards;
}

.ani1 {
	text-align: center;
	vertical-align: center;
	animation-name: ani1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
	-webkit-animation-name: ani1;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: ani1;
    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: forwards;
}

.delay-1s{
	animation-delay:1s;
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
}

.chloimg {
	max-width: 0px;
	max-height:0px;
}