/* animation */
@keyframes fontani1 {
    from {font-size: 0px;}
    to {font-size: 50px;}
}

@-webkit-keyframes fontani1 {
    from {font-size: 0px;}
    to {font-size: 50px;}
}

@keyframes ani1 {
    from {
    	max-width: 0px;
		max-height:0px;}
    to {
    	max-width: 300px;
		max-height:400px;}
}

@-webkit-keyframes ani1 {
    from {
    	max-width: 0px;
		max-height:0px;}
    to {
    	max-width: 300px;
		max-height:400px;}
}

@keyframes movetop {
	from{
		margin-top:0px;
	}
	to {
		margin-top:-200px;
	}
}

@-webkit-keyframes movetop {
	from{
		margin-top:0px;
	}
	to {
		margin-top:-200px;
	}
}

/* animation ends*/

body {
	background-image: url("../img/grey.jpg");
	background-size: 100%;
}

.v-center {
	margin-top:200px;
	text-align: center;
}

.posani1 {
	animation-name: movetop;
    animation-duration: 0.1s;
	-webkit-animation-name: movetop;
    -webkit-animation-duration: 0.1s;
    -moz-animation-name: movetop;
    -moz-animation-duration: 0.1s;
    -o-animation-name: movetop;
    -o-animation-duration: 0.1s;

    animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	-o-animation-delay:0.5s;
}

.fontani1 {
	font-size: 50px;
	vertical-align: center;
	animation-name: fontani1;
    animation-duration: 0.1s;
	-webkit-animation-name: fontani1;
    -webkit-animation-duration: 0.5s;
    -moz-animation-name: fontani1;
    -moz-animation-duration: 0.5s;
    -o-animation-name: fontani1;
    -o-animation-duration: 0.5s;
}

.ani1 {
	text-align: center;
	vertical-align: center;
	animation-name: ani1;
    animation-duration: 0.1s;
	-webkit-animation-name: ani1;
    -webkit-animation-duration: 0.5s;
    -moz-animation-name: ani1;
    -moz-animation-duration: 0.5s;
    -o-animation-name: ani1;
    -o-animation-duration: 0.5s;
}

.delay-1s{
	animation-delay:1s;
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	-o-animation-delay:1s;
}

.chloimg {
	max-width: 300px;
	max-height:400px;
}